# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv
.env

# PDM
.pdm-python
.pdm-build/

# Test / coverage
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checkers
.mypy_cache/
.dmypy.json

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db

# OS
.DS_Store
